.user-list {
  display: flex;
  just-content: center;
  font-size: 1.15rem;
  width: 100%;
  overflow: auto;
  div {
    flex: 1;
  }
}

.user-container {
  border-bottom: solid 1px #bfbfbf;
}

.user {
  align-items: center;
  display: flex;
  padding: 2rem;
  width: 100%;

  .user-details {
    padding: 2rem;

    div {
      padding: 0.25rem 0;
    }

    .user-email {
      color: #474350;
      // color: #868686;
    }
  }
}

.img-container {
  display: flex;
  width: 25%;

  img {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .user {
    padding: 0.25rem;
  }
}

@media (min-width: 840px) and (max-width: 1300px) {
  .user {
    width: 100%;
  }
}
