<div class="user-list">
  <div *ngIf="users">
    <div [@staggerAnimation]="users.length">
      <div *ngFor="let user of users" class="user-container">
        <div class="user">
          <div class="img-container"><img src="{{ user.avatar }}" /></div>
          <div class="user-details">
            <div></div>
            <div>
              <span> {{ user.id }}. </span>{{ user.first_name }}
              {{ user.last_name }}
            </div>
            <div class="user-email">email: {{ user.email }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
